<ons-page>
    <ons-page id="Favorite">
      
      <div class="toolbar">
        <div class="toolbar__center">
          <div class="segment" style="width:200px;margin:7px 50px;">
            <div class="segment__item">
              <input type="radio" class="segment__input" name="navi-segment-a" checked="">
              <div class="segment__button">One</div>
            </div>
      
            <div class="segment__item">
              <input type="radio" class="segment__input" name="navi-segment-a">
              <div class="segment__button">Two</div>
            </div>
          </div>
        </div>
      </div>
    
      <img src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/poster%2F1.jpg?alt=media&token=7093e103-dddc-4bec-9f4c-b6fcc6a98251" width="375" height="375">
      <div class="T"></div>
      <center><b>NO HAVE TOURNAMENT</B></center>
      </div>
    </ons-page>
    </ons-page>