<ons-page>
<ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>

<template id="page1.html">
  <ons-page id="page1">
    <h1>Animation</h1>
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
        <ons-carousel-item>
          <div id="m1"></div>
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m2"></div>
                </ons-carousel-item>
        <ons-carousel-item>
          <div id="m3"></div>        
        </ons-carousel-item>
      </ons-carousel>

      <h1>Comedy</h1>
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
        <ons-carousel-item>
          <div id="m4"></div>
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m5"></div> 
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m6"></div>
        </ons-carousel-item>
      </ons-carousel>

      <h1>Horror</h1>
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
        <ons-carousel-item>
          <div id="m7"></div>
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m8"></div>
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m9"></div>
        </ons-carousel-item>
      </ons-carousel>

      <h1>Action</h1>
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
        <ons-carousel-item>
          <div id="m10"></div>
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m11"></div>
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m12"></div>
        </ons-carousel-item>
      </ons-carousel>

      <h1>Fanstasy</h1>
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
        <ons-carousel-item>
          <div id="m13"></div>
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m14"></div>
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m15"></div>
        </ons-carousel-item>
      </ons-carousel>
  </ons-page>
</template>
</ons-page>