<ons-page>
<ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>

<template id="page1.html">
  <ons-page id="page1" class="con">
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
        <ons-carousel-item>
          <div id="m1"></div>
        </ons-carousel-item>
        <ons-carousel-item>
          <div id="m2"></div>
                </ons-carousel-item>
        <ons-carousel-item>
          <div id="m3"></div>        
        </ons-carousel-item>
      </ons-carousel>
      
      <div id="list21"></div>
  </ons-page>
</template>
</ons-page>