<ons-page>
<ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>

<template id="page1.html">
  <ons-page id="page1">
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
        <ons-carousel-item>
          <img src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/poster%2F1.jpg?alt=media&token=7093e103-dddc-4bec-9f4c-b6fcc6a98251" width="375" height="550" id="m1">
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/poster%2F2.jpg?alt=media&token=2d565bda-a511-485f-8813-629f8764c693" width="375" height="550" id="m2">
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/poster%2F3.jpg?alt=media&token=2637e14c-f9e6-47ba-9be8-a8b2dd0e3df4" width="375" height="550" id="m3">
        </ons-carousel-item>
      </ons-carousel>
      <h1>Top 3 anime movie</h1>
  </ons-page>
</template>
</ons-page>