<ons-page>
    <ons-navigator swipeable id="Nvise" page="strategy.html"></ons-navigator>
    <template id="strategy.html">
        <ons-page id="search">
            <!-- <div class="container"> -->
                <b>Agents</b>
                <ons-carousel swipeable overscrollable animation=“fade”
                  animation-options="{duration: 1.0, delay: 0, timing: ‘ease-in’}">
                  <ons-carousel-item>
                    <img src="img/u1.png" width="71" height="71" id="m1">
                    <img src="img/u2.png" width="71" height="71" id="m1">
                    <img src="img/u3.png" width="71" height="71" id="m1">
                    <img src="img/u4.png" width="71" height="71" id="m1">
                    <img src="img/u5.png" width="71" height="71" id="m1">
                  </ons-carousel-item>
                  <ons-carousel-item>
                    <img src="img/u6.png" width="71" height="71" id="m1">
                    <img src="img/u7.png" width="71" height="71" id="m1">
                    <img src="img/u8.png" width="71" height="71" id="m1">
                    <img src="img/u9.png" width="71" height="71" id="m1">
                    <img src="img/u10.png" width="71" height="71" id="m1">
                  </ons-carousel-item>
                  <ons-carousel-item>
                    <img src="img/u11.png" width="71" height="71" id="m1">
                    <img src="img/u12.png" width="71" height="71" id="m1">
                    <img src="img/u13.png" width="71" height="71" id="m1">
                  </ons-carousel-item>
                </ons-carousel>
              <!-- </div>    -->
        </ons-page>
    </template>
</ons-page>